body 
{
    background-color: white;
}

a
{
  max-width: 60%;
}

.cnnlink
{
  width: 100px;
  height: 50px;
}

.caixadetexto1
{
    position: absolute;
    top: 50%;
    max-width: 70%;
}

.satelitewallpaper
{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* preenche o tamanho selecionado sem distorcer */
  top: 0;
  left: 0;
}

.dronewallpaper
{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 100%;
  left: 0;
}

.caixadetexto2
{
  position: absolute;
    top: 157.5%;
  max-width: 70%;
}

.datacenterswallpaper
{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 200%;
  left: 0;
}

.caixadetexto3
{
  position: absolute;
    top: 255%;
  max-width: 70%;
}

.caixadenoticias
{
  position: absolute;
  top:300%;
  left: 0;
}

.card {
  max-width: 100%; /* largura máxima da caixa */
  margin: 0 auto;    /* centraliza horizontalmente */
}

.card-img-top {
  max-height: 180px; /* limita a altura da imagem */
  object-fit: cover; /* mantém proporção e corta o excesso */
}

/*Quando passsar o mouse, fica preto o card*/
.card-hover-black:hover {
  background-color: darkblue;
  cursor: pointer; /* Muda o cursor para indicar clique */
  color: white;
}

.noticias
{
  margin-top: 2%;
  position: absolute;
  top: 100%;
  left: 0;
}

.rodape
{
  position:absolute;
  
}

